/* ------------------------------------------------------------------
		DESKTOP
------------------------------------------------------------------ */
@include media-breakpoint-up(lg) {

footer .widget {
	width: 75%;
}
.items-piktogram {
	width: 29%;
    margin: 2%;
}

}