/* ------------------------------------------------------------------
        FONTS
------------------------------------------------------------------ */
@font-face {
    font-family: 'Freight';
    src: url('../fonts/Freight-MicroBookItalic.eot');
    src: url('../fonts/Freight-MicroBookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Freight-MicroBookItalic.woff2') format('woff2'),
        url('../fonts/Freight-MicroBookItalic.woff') format('woff'),
        url('../fonts/Freight-MicroBookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Freight';
    src: url('../fonts/Freight-MicroBook.eot');
    src: url('../fonts/Freight-MicroBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Freight-MicroBook.woff2') format('woff2'),
        url('../fonts/Freight-MicroBook.woff') format('woff'),
        url('../fonts/Freight-MicroBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Freight';
    src: url('../fonts/Freight-MicroBold.eot');
    src: url('../fonts/Freight-MicroBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Freight-MicroBold.woff2') format('woff2'),
        url('../fonts/Freight-MicroBold.woff') format('woff'),
        url('../fonts/Freight-MicroBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Freight';
    src: url('../fonts/Freight-MicroBoldItalic.eot');
    src: url('../fonts/Freight-MicroBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Freight-MicroBoldItalic.woff2') format('woff2'),
        url('../fonts/Freight-MicroBoldItalic.woff') format('woff'),
        url('../fonts/Freight-MicroBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}