//grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-gutter-width:     40px;

$plats-color:           #F5E7DE;	//puderrosa
$plats-color-light:     #FAF3EE;	//puderrosa light
$plats-pink:            #FF82B5;	//rosa
$plats-gray:            #6E8594;	//grå
$plats-header:          #FF5C30;	//orange

$theme-colors: (
    primary: $plats-color,
    secondary: $plats-color,
    success: $plats-color,
    info: $plats-color,
    warning: $plats-color,
    danger: $plats-color,
    light: $plats-color,
    dark: $plats-color
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 961px
);

// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";

@import 'base';         //mobile
@import 'landscape';    //mobile-lanscape
@import 'tablet';       //tablet
@import 'desktop';      //desktop
@import 'fonts';        //fonts
@import "zoom";         //zoom-view-images